body {
  background-image: url('img/spectrum_logo.png');
  background-repeat: no-repeat;
  background-size: 1440px 800px;
}

/*header {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  font-family: Cinzel;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid #FFF;
  background-color: Lavender;
}*/

header nav {
  display: flex;
  justify-content: flex-end;
}

header .row {
  display: flex;
  align-items: center;
}

nav a {
  color: black;
  margin-left: 15px;
}

section .row {
  display: flex;
  align-items: center;
}

#about {
  position: relative;
  top: 40px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 80px;
  font-weight: bold;
  color: black;
}

#interest {
  margin-top: 2em;
  position: relative;
  top: 27em;
  font-weight: bold;
  color: black;
}

button {
  position: relative;
  top: 35em;
}

.btn {
  color: black;
}

/*#footing {
  position: relative;
  top: 200px;
  margin-top: 0;
  padding: 0 0 15px 0;
  background-color: Lavender;
  z-index: 100;
}

footer p {
  margin-right: 0;
  position: relative;
  top: 15px;
  padding: 0;
}*/
